html
	head
		script(src="/socket.io.js")
		link(href='/startup.css', rel='stylesheet')
		link(href='/css/main.css', rel='stylesheet')
		title Minority!
	body
		#container
			h1 Minority!
			input(id="input",type="text", placeholder="Name")
			input(id="input2",type="text", placeholder="Room Code",style="display:none;")
			a(id="button1")
				p Make a game
			a(id="button2")
				p Join a game 
		ul#players
	script(src="/js/index.js")