html
	head
		link(href='/startup.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')
		title Minority!
	body
		#container
			h1 Minority!
			p
				a(href="/make") Make a game
			p
				a(href="/join") Join a game 