html
	head
		link(href='/startup.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')
		
		title Minority!
	body
		#make
			h1 Minority!
			h2 Game Code
			h3= code
			p
				a(href="/join") Everyone in! 
			ul#players
				li= name
