* {
  color: white; }

body {
  background: #c0392b;
  /* Old browsers */
  background: -webkit-linear-gradient(-45deg, #e74c3c 0%, #c0392b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -moz-linear-gradient(-45deg, #e74c3c 0%, #c0392b 100%);
  /* FF3.6-15 */
  background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$dark',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

#container {
  text-align: center;
  margin: 15vh auto; }

#make {
  text-align: center;
  margin: auto; }

h1 {
  font-size: 6em; }

p {
  background: #8e44ad;
  /* Old browsers */
  background: -webkit-linear-gradient(-45deg, #9b59b6 0%, #8e44ad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -moz-linear-gradient(-45deg, #9b59b6 0%, #8e44ad 100%);
  /* FF3.6-15 */
  background: linear-gradient(135deg, #9b59b6 0%, #8e44ad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$dark',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  font-size: 1.5em; }
  p a {
    color: white;
    text-decoration: none;
    width: 100%; }

input {
  background: #8e44ad;
  /* Old browsers */
  background: -webkit-linear-gradient(-45deg, #9b59b6 0%, #8e44ad 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -moz-linear-gradient(-45deg, #9b59b6 0%, #8e44ad 100%);
  /* FF3.6-15 */
  background: linear-gradient(135deg, #9b59b6 0%, #8e44ad 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$dark',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  font-size: 1.5em;
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  border: none; }

ul {
  text-align: center;
  padding: 10px; }
  ul li {
    display: block;
    font-size: 2em; }

#msger h3 {
  padding: 5px; }

#ans1 {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2980b9;
  /* Old browsers */
  background: -webkit-linear-gradient(-45deg, #67cbff 0%, #2980b9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -moz-linear-gradient(-45deg, #67cbff 0%, #2980b9 100%);
  /* FF3.6-15 */
  background: linear-gradient(135deg, #67cbff 0%, #2980b9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$dark',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  #ans1 h3 {
    max-width: 90%;
    text-align: center;
    margin: 0px;
    font-size: 3em; }

#ans2 {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c3e50;
  /* Old browsers */
  background: -webkit-linear-gradient(-45deg, #677c91 0%, #2c3e50 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -moz-linear-gradient(-45deg, #677c91 0%, #2c3e50 100%);
  /* FF3.6-15 */
  background: linear-gradient(135deg, #677c91 0%, #2c3e50 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light', endColorstr='$dark',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  #ans2 h3 {
    max-width: 90%;
    text-align: center;
    margin: 0px;
    font-size: 3em; }

/*# sourceMappingURL=main.css.map */
